@import "~tailwindcss/dist/tailwind.css";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');


*, *:before, *:after {
	box-sizing: border-box;
}

.font-bold {
	font-weight: 600;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

@keyframes fill-width {
	
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

.animation-fill-width {
	animation-name: fill-width;
	animation-fill-mode: forwards;
}

//
//
//@keyframes grow {
//
//	0% {
//		opacity: 0;
//		transform: translateY(-4px);
//	}
//	100% {
//		opacity: 1;
//		transform: none;
//	}
//}
//
//.animation-grow {
//	animation-duration: 1s;
//	animation-name: grow;
//	animation-fill-mode: forwards;
//}